<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>moneyminder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67235EBC1D5992DE00FD48C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67235ED31D5992DF00FD48C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67235EDE1D5992DF00FD48C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
